body {
    font-family: Montserrat;
    box-sizing: border-box;
}

button {
    border: 0;
}

.container {
    max-width: 850px;
    margin: 0 auto;
}

.scroll {
    overflow: hidden
}

.img-2 {
    display: none;
}

.main__block {
    position: relative;
    left: 50%;
    top: -50%;
    transform: translate(-50%, 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 130px;
}

.main__block > img {
    width: 100%;
}

.main__descr {
    width: 100%;
}

.main__title {
    width: 368px;
    height: 96px;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    color: #10AF75;
    margin: 0;
    margin-bottom: 30px;
}

.main__text {
    width: 352px;
    height: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
}

.main__btn {
    width: 231px;
    height: 56px;
    background: linear-gradient(180deg, #28E8A2 0%, #00D186 100%);
    border-radius: 8px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.kwiz {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    background-color: #fff;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.kwiz-active {
    right: 0
}

.kwiz__wrapper {
    max-width: 850px
}

.kwiz__count {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px
}

.kwiz__count,
.kwiz__quest {
    color: #10AF75;
    text-align: center
}

.kwiz__count {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.kwiz__quest {
    font-size: 20px;
    font-weight: 600;
    line-height: 34px
}

.kwiz__answer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 30px
}

.kwiz__button {
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
    
}

.kwiz__btn {
    position: absolute;
    bottom: -100px;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    padding: 17px 68px;
    color: #fff;
    background: linear-gradient(180deg, #28E8A2 0%, #00D186 100%);
    border: 0;
    border-radius: 8px;
}

.kwiz__radio {
    display: none
}

.kwiz__label {
    padding: 19px 40px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #37755E;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid rgba(16, 175, 117, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
}

.kwiz__radio:checked+.kwiz__label {
    background: rgba(16, 175, 117, 0.05);
    color: #10AF75;
    font-weight: 600;
}

.result__kwiz {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center
}

.res__kwiz {
    width: 442px;
    height: 122px;
    background: #F4F4F4;
    margin-bottom: 12px;
}

.res__question {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #212121;
    padding: 30px 0 15px;
}

.res__answer {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #212121;
}

.show {
    right: 0;
}

.hide {
    right: -100%;
}

@media (max-width: 992px) {
    .container {
        max-width: 550px;
        margin: 0 auto;
    }
    
    .main__block {
        display: block;
        transform: translate(-50%, 0);
    }

    

    .main__title,
    .main__text {
        margin: 0 auto;
        margin-bottom: 0;
        text-align: center;
        margin-bottom: 20px;
    }

    .main__btn {
        margin: 0 auto;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 320px;
        margin: 0 auto;
    }

    .main__block .img-1 {
        display: none;
    }

    .main__title {
        width: 216px;
        height: 48px;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        line-height: 19px;
        margin-top: 60px;
    }

    .main__text {
        width: 223px;
        height: 68px;
        font-style: normal;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }

    .main__block .img-2 {
        display: block;
    }

    .main__btn {
        margin-bottom: 40px;
    }

    .main__block > .img-2 {
        width: 0;
        width: 271px;
        height: 179px;
    }
}